.myfont{
    color: #0000FF;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
fieldset,
textarea {
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    height: 100%;
}

.loaded {
    display: none;
}

.main {
    display: block;
}

.main_inner {
    max-width: 1000px;
    min-width: 800px;
    height: 100%;
    margin: 0 auto;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}


.panel {
    position: relative;
    width: 280px;
    height: 100%;
    float: left;
    background: #2e3238;
}

.chat_item {
    overflow: hidden;
    padding: 12px 18px 11px;
    border-bottom: 1px solid #292C33;
    cursor: pointer;
    position: relative;
}

.nickname {
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 20px;
}

.box {
    position: relative;
    background-color: #eeeeee;
    height: 100%;
    overflow: hidden;
}
